body {
    margin: 0;
    padding: 0;
}

body > * {
    box-sizing: border-box;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #333;
}

.container {
    background-color: #e3e3e3;
    color: #333;
    box-shadow: 1px 1px #e3e3e3;
    height: 20vh;
    width: 60vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-name {
    cursor: pointer;
}

.say-hi {
    color: red;
}